[user]
  name = Ben Kreeger
  email = ben@kree.gr

[core]
  excludesfile = /opt/boxen/config/git/gitignore
  editor = /opt/boxen/homebrew/bin/vim

[color]
  ui = true

[github]
  user = kreeger

[push]
  default = matching

[credential]
helper = /opt/boxen/bin/boxen-git-credential
